@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@900&family=Spinnaker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --font-montserrat: 'Montserrat', sans-serif;
    --font-bebas: 'Bebas Neue', sans-serif;
    --font-spinnaker: 'Spinnaker', sans-serif;
}

html, body{
    @apply bg-gradient-to-r from-red-500 from-5% to-purple-200 to-95% h-full overflow-x-hidden;
}
html, body{
    font-family: var(--font-spinnaker);
}
.__next{
    @apply h-full
}

h1{
    font-family: var(--font-montserrat);
}
h2{
    font-family: var(--font-spinnaker);
}
h3 {
    font-family: var(--font-bebas);
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}